$line-height-base: 14px;

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: $line-height-base;
  color: black;
  background-color: white;
}

.italics {
  font-weight: normal;
  font-style: italic;
}
.clickable {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}
